*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monspace;
    background: #363062;
}
.timeline {
    width: 1200px;
    margin: 6.2em auto;
    /* background: lightblue; */
    position: relative;
}
.container {
    width: 50%;
    /* background: blue; */
    position: relative;
    padding: .7em 3em;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
.text-container {
    background: white;
    padding: 1.2em 2em;
    border-radius: .6em;
}
@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child{
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}

h6 {
    margin-bottom: .5em;
    font-weight: normal;
}
p {
    font-size: 1.2rem;
}
.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}

.timeline::after {
    content : "";
    width: 6px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    animation: move 6s linear forwards;
    z-index: -1;
}
@keyframes move{
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
.container img {
   width: 40px;
    position: absolute;
    top: 32px;
    right: -20px;
    border-radius: 50%;
    z-index: 10;
}
.right-container img {
    left: -20px;
}
.container .left-container-arrow{
    position: absolute;
    top: 35px;
    right: 2em;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #fff;
}
.container .right-container-arrow{
    position: absolute;
    top: 35px;
    left: 2em;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #fff;

}

/* 
width: 40px;
    position: absolute;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
*/





